# игнорируем временные файлы, Модули Node, логи npm 
*~
_devil.png
node_modules
bower_components
npm-debug.log
site

# игнорируем Архивы, дистрибутивы
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# игнорируем Базы данных, логи
*.log
*.sql
*.sqlite

# игнорируем Спецфайлы операционных систем
Thumbs.db
Desktop.ini
.DS_Store*
ehthumbs.db
Icon?


